java/bz/XMLProject/book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >
	<xs:element name="books">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="book" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="xs:string"></xs:element>
						<xs:element name="author" type="xs:string"></xs:element>
						<xs:element name="price" type="xs:double"></xs:element>
					</xs:sequence>
					<xs:attribute name="id" type="xs:positiveInteger" use="required"></xs:attribute>
				</xs:complexType>
			</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>